<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="landing" style="background-image: url('imgs/landing.jpg');">
    <div>
        <h1 style="color: white; text-shadow: 2px 2px 2px black; font-size: 60px;">Welcome to Meal Prep!</h1>
        <h2 style="color: white; text-shadow: 0px 0px 5px black;">Are you ready to start your meal prep journey?</h2>
    </div>
    
    <br>

    <div style="margin: 20px;">

        <a href="signup"  class="button" style="text-decoration: none; background-color: #4caf50; padding: 10px; text-align: center;">
            <div style="color: white;">
                Get Started
            </div>
        </a>

        <a href="login"  class="button" style="text-decoration: none; background-color: #a5d6a7; padding: 10px; text-align: center;">
            <div style="color: black;">
                Login
            </div>
        </a>
    </div>

   
   

</body>
</html>