<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link href="css/recipes.css" rel="stylesheet">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

    <%- include("partials/nav.ejs") %>

    <h1 id="recipes"> Recipes</h1>

    <div id="mainContainer">
        <div id="favorites">
            <div style="margin: 20px;">
                <span>Favorites <img id="heart" src="/img/heart.png"></span>
            <button><i class="fa fa-plus"></i></button>
            </div>
            
            <div id="meals">


                    <% favorites.forEach((meal) => { %>
                        <div>
                            <img style="width: 150px;" src="<%= meal.thumbnail %>">
                        </div>
                        
                    <% }) %>

                
            </div>
        </div>

        <div id="allRecipes">
            <button id="add">+ Add Recipe</button>
            <div id="recipeBox">
                <% for(let row of rows){%>
                    <button id="recipeBtn">
                        <%= row.name %>
                    </button>
                <%}%>
            </div>
        </div>
        

    </div>
</body>
</html>