body{
    background-color: #F5F5F5;
    margin: 0;
    
}

#grocery{
    text-align: center;
    font-family:'Gotham', sans-serif;
    font-size: 70px;
    font-weight: 400;
    padding-top: 10px;
   
   
}

#gList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: white;
    border-radius: 30px;
    width: 70%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;

}

.g1{
    display: flex;
    text-align: left;
    align-self: center;
    justify-content: space-evenly;
    align-items: center; 
    width: 70%;
    height: 60px;
    background-color:#4CAF50 ;
    border-radius: 20px;
    position: relative;
    

}
.itemRadio{
   display: flex;
   text-align: left;
    position: absolute;
   left: 0;

}
input[type=checkbox]{

    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

#add{
    border-radius: 80px;
    background-color: #FF9800;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    width:50px;
    height: 50px;
    border-style: solid;
    border-color: #FF9800;
    margin:auto;
    
    
}

.item{
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family:'Gotham', sans-serif;
    font-size: 18px;
    margin-right: 60px;
}

.qty{
    margin-right: 50px;
    position: absolute;
    right: 0;
    font-family:'Gotham', sans-serif;
    font-size: 18px;
    margin-right: 60px;


}

